h1{
    text-align-last: center;
    font-size: 60px;
    /* font: 60px;
    size: 60px; */
}
h2{
    font-size: 42px;
    /* font: 42px;
    size: 42px; 
     typpgraphy ? */
     /* font-weight: 200; */
}

h3{
    font-size: 36px;   
    /* font: 36px;
    size: 36px; */
}

.style{
    /* width: 570px; */
    text-align: center;
    background-color: #99D930;
    
     
    /* font-family: "https://fonts.google.com/specimen/Roboto?preview.text=light&query=roboto"; */
}

body{
    font-family: 'Roboto', sans-serif;
    /* font: 21px;  */
    /* /* size: 21px; */
    font-size: 21px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;

}

h3 > small{
    /* font: 16px;
    size: 16px; */
    font-size: 16px;
}

.font-Weight-heading{
    font-weight:  200;
}

h1  span{
    font-weight: 700;
}
h2 span{
    font-weight: 500;
}

a{
    color: #99D930;
    
}
a:hover{
    color: #131313;
}

header{
    background-color: #D7D7D7;
    padding: 100px 0;
}
section.about-me{
    background-color: #FFEAEA;
    padding: 100px 0;
}

section.articles{
    background-color: #EAF9FF;
    padding: 100px 0;
}






